{{#if fileUrl}}
  <img src="{{fileUrl}}">
{{else}}
  <img src="{{placeholderUrl}}" alt="Upload">
{{/if}}

<button type="button" class="profile-upload__btn">Upload</button>

<input type="file" hidden="true" onclick={{action stopPropagation}} {{action getFileFromInput on="change"}}>
